  # Outliers
  ## Identifying Outliers Using Interquartile Range

In [23]:
# initial imports
import pandas as pd
import numpy as np
import random
from sqlalchemy import create_engine
import numpy as np
import statistics

In [3]:
# create a connection to the database
engine = create_engine("postgresql://postgres:postgres@localhost:5432/fraud_detection")

In [61]:
# code a function to identify outliers based on interquartile range
def outliers_interquartile (list_amount):
        list_amount=sorted(list_amount)
        
        median=statistics.median(list_amount)
        Q1 = np.percentile(list_amount, 25)
        Q3 = np.percentile(list_amount, 75)
        
        interquartile_range=Q3-Q1
        
        inner_fence_lower=Q1-interquartile_range*1.5
        inner_fence_upper=Q3+interquartile_range*1.5
        outer_fence_lower=Q1-interquartile_range*3
        outer_fence_upper=Q3+interquartile_range*3

        minor_outlier=[]
        major_outlier=[]
        
        for item in list_amount:
            if item < outer_fence_lower or item > outer_fence_upper:
                major_outlier.append(item)
            elif item < inner_fence_lower or item > inner_fence_upper:
                minor_outlier.append(item)

        print(f'Minor outliers: {minor_outlier}')
        print(f'Major outliers: {major_outlier}')

In [62]:
# find anomalous transactions for 3 random card holders
#cardholder 25
query_25="SELECT * FROM transaction  WHERE card in (SELECT card  FROM credit_card WHERE id_card_holder in (SELECT id  FROM card_holder WHERE id=25));"
transactions_cardholder_25=pd.read_sql(query_25, engine)
list_amount_25=transactions_cardholder_25['amount'].tolist()
outliers_interquartile(list_amount_25)

Minor outliers: []
Major outliers: [100.0, 137.0, 269.0, 749.0, 1001.0, 1046.0, 1063.0, 1074.0, 1162.0, 1177.0, 1334.0, 1813.0]

In [43]:
# find anomalous transactions for 3 random card holders
#cardholder 18
query_18="SELECT * FROM transaction  WHERE card in (SELECT card  FROM credit_card WHERE id_card_holder in (SELECT id  FROM card_holder WHERE id=18));"
transactions_cardholder_18=pd.read_sql(query_18, engine)
list_amount_18=transactions_cardholder_18['amount'].tolist()
outliers_interquartile(list_amount_18)

Minor outliers: []
Major outliers: [117.0, 121.0, 175.0, 333.0, 458.0, 974.0, 1077.0, 1154.0, 1176.0, 1769.0000000000002, 1814.0, 1839.0]

In [44]:
# find anomalous transactions for 3 random card holders
#cardholder 3
query_3="SELECT * FROM transaction  WHERE card in (SELECT card  FROM credit_card WHERE id_card_holder in (SELECT id  FROM card_holder WHERE id=3));"
transactions_cardholder_3=pd.read_sql(query_3, engine)
list_amount_3=transactions_cardholder_3['amount'].tolist()
outliers_interquartile(list_amount_3)

Minor outliers: []
Major outliers: [188.0, 206.0, 313.0, 626.0, 757.0, 1053.0, 1054.0, 1119.0, 1159.0, 1160.0]

In [45]:
# find anomalous transactions for 3 random card holders
#cardholder 10
query_10="SELECT * FROM transaction  WHERE card in (SELECT card  FROM credit_card WHERE id_card_holder in (SELECT id  FROM card_holder WHERE id=10));"
transactions_cardholder_10=pd.read_sql(query_10, engine)
list_amount_10=transactions_cardholder_10['amount'].tolist()
outliers_interquartile(list_amount_10)

Minor outliers: []
Major outliers: []


  ## Identifying Outliers using Standard Deviation

In [69]:
# code a function to identify outliers based on standard deviation
def outliers_std(list_amount):
    list_amount=sorted(list_amount)
    mean = np.mean(list_amount, axis=0)
    sd = np.std(list_amount, axis=0)
    outliers=[]
    for item in list_amount:
        if item < mean - 2 * sd or item > mean + 2 * sd:
            outliers.append(item)
    print(f'Outliers: {outliers}')

In [70]:
# find anomalous transactions for 3 random card holders
#cardholder 3
query_3="SELECT * FROM transaction  WHERE card in (SELECT card  FROM credit_card WHERE id_card_holder in (SELECT id  FROM card_holder WHERE id=3));"
transactions_cardholder_3=pd.read_sql(query_3, engine)
list_amount_3=transactions_cardholder_3['amount'].tolist()
outliers_std(list_amount_3)

Outliers: [1053.0, 1054.0, 1119.0, 1159.0, 1160.0]

In [71]:
# find anomalous transactions for 3 random card holders
#cardholder 10
query_10="SELECT * FROM transaction  WHERE card in (SELECT card  FROM credit_card WHERE id_card_holder in (SELECT id  FROM card_holder WHERE id=10));"
transactions_cardholder_10=pd.read_sql(query_10, engine)
list_amount_10=transactions_cardholder_10['amount'].tolist()
outliers_std(list_amount_10)

Outliers: [20.71]

In [72]:
# find anomalous transactions for 3 random card holders
#cardholder 25
query_25="SELECT * FROM transaction  WHERE card in (SELECT card  FROM credit_card WHERE id_card_holder in (SELECT id  FROM card_holder WHERE id=25));"
transactions_cardholder_25=pd.read_sql(query_25, engine)
list_amount_25=transactions_cardholder_25['amount'].tolist()
outliers_std(list_amount_25)

Outliers: [749.0, 1001.0, 1046.0, 1063.0, 1074.0, 1162.0, 1177.0, 1334.0, 1813.0]

In [73]:
# find anomalous transactions for 3 random card holders
#cardholder 18
query_18="SELECT * FROM transaction  WHERE card in (SELECT card  FROM credit_card WHERE id_card_holder in (SELECT id  FROM card_holder WHERE id=18));"
transactions_cardholder_18=pd.read_sql(query_18, engine)
list_amount_18=transactions_cardholder_18['amount'].tolist()
outliers_std(list_amount_18)

Outliers: [974.0, 1077.0, 1154.0, 1176.0, 1769.0000000000002, 1814.0, 1839.0]